@font-face {
  font-family: "iconfont"; /* Project id 4405932 */
  src: url('iconfont.woff2?t=1704859076756') format('woff2'),
       url('iconfont.woff?t=1704859076756') format('woff'),
       url('iconfont.ttf?t=1704859076756') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianzan:before {
  content: "\e816";
}

.icon-cai:before {
  content: "\f377";
}

